.topSection {

    width: 100%;
    height: 75vh;
    background: #81DAD0;
    border-bottom-left-radius: 30% 5%;
    border-bottom-right-radius: 30% 5%;
    overflow: hidden;
    /* Para garantir que o conteúdo não ultrapasse a topSection */
}

.container-top {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
   
}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-top: 30px;

    color: #FFFFFF;

}

.wrap-container-top {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.title-container-top {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size:  3rem;
    line-height: 5rem;

    color: #f7e75b;


}

.highlight-container-top {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;

    color: #f7e75b;


}

.text-container-top {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 160%;


    color: #FFFFFF;


}



.topSection1 {

    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}

.topSection1 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 75%;
}

.container-top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 75%;
}


.highlight-container-top1 {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 100%;


    /* Accent gradient */
    background: linear-gradient(90deg, #136CB5 0%, #49BBBD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.text-container-top1 {

    text-align: center;
    padding: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 130%;
    /* identical to box height, or 42px */

    /* Half dark text color */
    color: rgba(1, 5, 20, 0.8);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.footer-container-top1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.topSection2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 370px;
    height: 536px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 5rem;

}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
}

.plans-title{
    display: flex;
    justify-content: space-between;
}

.button-best{



font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 15px;

letter-spacing: 2.5px;
text-transform: uppercase;

/* Black */
color: #2D3436;



box-sizing: border-box;

width: 90px;
height: 32px;
background-color: #FFFFFF;

/* Purple / Dark */
border: 1px solid #6C5CE7;
border-radius: 99px;

}

.price {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    display: flex;
    align-items: baseline;

    /* Black */
    color: #2D3436;


}

.description {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.icon {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;


}

.icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: white;
    border-radius: 16px;
    width: 306px;
    height: 64px;


    /* 24 sp • Paragraph Bold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    /* White */
    color: #49BBBD;

    border: 1px solid rgba(204, 204, 204, 1); /* Borda preta de 2px */

}

.btn:hover {
    background: #49BBBD;
    color: #FFFFFF;
}

.footer-LandingPage{
    margin-top: 10rem;
    height: 15vh;
    width: 100%;
    background-color: #00958C;
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
    .wrap-container-top {
        width: 90%; /* Ajuste a largura conforme necessário */
    }

    .title-container-top {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .highlight-container-top {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .text-container-top {
        font-size: 1.5rem;
        line-height: 150%;
    }

    .container-top {
        padding-top: 3rem;
    }

    .topSection1 header {
        width: 90%;
    }

    .container-top1 {
        width: 90%;
    }

    .highlight-container-top1 {
        font-size: 3rem;
    }

    .text-container-top1 {
        font-size: 1.2rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .price {
        font-size: 36px;
        line-height: 48px;
    }

    .description {
        font-size: 12px;
    }

    .icon {
        font-size: 16px;
        line-height: 28px;
    }

    .btn {
        width: 90%;
    }
}

/* Para telas menores que 480px */
@media screen and (max-width: 480px) {
    .title-container-top {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .highlight-container-top {
        font-size: 2rem;
        line-height: 2rem;
    }

    .text-container-top {
        font-size: 1.2rem;
    }

    .container-top {
        padding-top: 2rem;
    }

    .topSection1 header {
        width: 95%;
    }

    .container-top1 {
        width: 95%;
    }

    .highlight-container-top1 {
        font-size: 2.5rem;
    }

    .text-container-top1 {
        font-size: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .price {
        font-size: 32px;
        line-height: 44px;
    }

    .description {
        font-size: 12px;
    }

    .icon {
        font-size: 14px;
        line-height: 24px;
    }

    .btn {
        width: 90%;
    }
}
