.container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

}

.title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 24px;

    color: #000000;


}

.highlight {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 54px;

    color: #49BBBD;


}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    box-sizing: border-box;
    width: 600px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #49BBBD;
    border-radius: 40px;

}

.question {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    align-self: flex-start;


    color: #000000;


}

.link {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    align-self: flex-start;

    color: #49BBBD;


}



@media screen and (max-width: 1215px) {


    .title {
        font-size: 2.5vw;
    }

    .highlight {
        font-size: 4.5vw;
    }

    .form-control {
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container-title {
        /* Alterando a posição para relativa para telas menores */
        position: relative;
        top: auto;
        /* Removendo a posição superior */
    }

    .title {
        font-size: 2.5vw;
    }

    .highlight {
        font-size: 4.5vw;
    }

    .form-control {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {

   

    .title {
        font-size: 2.5vw;
    }

    .highlight {
        font-size: 4.5vw;
    }

    .form-control {
        width: 100%;
    }
}