.fundo {
    width: 50%;
    height: 100vh;
    background: linear-gradient(180deg, #81DAD0 0%, #81DAD0 61.1%, rgba(0, 255, 87, 0.266667) 100%, rgba(0, 120, 41, 0.266667) 100.01%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* ou auto, ou scroll */
}

.Titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    margin: 0;
    max-width: 600px;
}

.Texto {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    margin: 0;
    max-width: 600px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    padding: 20px;
}